{% extends 'program/articles.html' %}


{% block nav-left %}
    <div class="path">
        <a href="{% url 'program:articles' %}">文章</a>
        {% if article.genre %}
                <a href="{{ article.genre.get_absolute_url }}">{{ article.genre.name }}</a>
        {% endif %}
        {% if article %}
                <a href="{{ article.get_absolute_url }}">{{ article.name }}</a>
        {% endif %}
    </div>
{% endblock nav-left %}



{% block main %}
<div class="main">
        <h1>{{article.name}}</h1>
        <p>{{article.desc}}</p>
        {{ article.content|safe }}
</div>
{% endblock %}