<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>登录</h1>
    <form action="/login" method="post" th:object="${login}">
        <label for="username">用户名称</label>
        <input type="text" id="username" th:field="*{name}">
        <label for="userpwd">用户密码</label>
        <input type="password" id="userpwd" th:field="*{pwd}">
        <button type="submit">登录</button>
    </form>
    <div th:text="${flag}"></div>
</body>
</html>