@import 'map.css';
/* 黑体 */
@font-face {
    font-family: heiti;
    src: url('../fonts/黑体/SourceHanSansCN-Light.otf');
    font-weight: 100;
}
@font-face {
    font-family: heiti;
    src: url('../fonts/黑体/SourceHanSansCN-Normal.otf');
    font-weight: 200;
}
@font-face {
    font-family: heiti;
    src: url('../fonts/黑体/SourceHanSansCN-Bold.otf');
    font-weight: 300;
}
/* 宋体 */
@font-face {
    font-family: songti;
    src: url('../fonts/宋体/SourceHanSerifCN-ExtraLight.otf');
    font-weight: 100;
}
@font-face {
    font-family: songti;
    src: url('../fonts/宋体/SourceHanSerifCN-Regular.otf');
    font-weight: 200;
}
@font-face {
    font-family: songti;
    src: url('../fonts/宋体/SourceHanSerifCN-Bold.otf');
    font-weight: 300;
}
/* 圆体 */
@font-face {
    font-family: yuanti;
    src: url('../fonts/圆体/ResourceHanRoundedCN-Light.ttf');
    font-weight: 100;
}
@font-face {
    font-family: yuanti;
    src: url('../fonts/圆体/ResourceHanRoundedCN-Normal.ttf');
    font-weight: 200;
}
@font-face {
    font-family: yuanti;
    src: url('../fonts/圆体/ResourceHanRoundedCN-Bold.ttf');
    font-weight: 300;
}
/* 楷体 */
@font-face {
    font-family: kaiti;
    src: url('../fonts/楷体/LXGWWenKaiMono-Light.ttf');
    font-weight: 100;
}
@font-face {
    font-family: kaiti;
    src: url('../fonts/楷体/LXGWWenKaiMono-Regular.ttf');
    font-weight: 200;
}
@font-face {
    font-family: kaiti;
    src: url('../fonts/楷体/LXGWWenKaiMono-Medium.ttf');
    font-weight: 300;
}
/* 艺术体 */
@font-face {
    font-family: yishuti;
    src: url('../fonts/其他/段宁毛笔行书.ttf');
}


.main-wrapper * {
    font-family: songti;
    font-weight: 200;
}
.aside-left *, .aside-right * {
    font-family: yuanti;
    font-weight: 200;
}

h1 {
    margin: 0.5em 0;
    font-size: 2em;
    font-family: heiti !important;
    font-weight: 300 !important;
}
h2 {
    margin: 0.5em 0;
    font-size: 1.5em;
    font-family: heiti !important;
    font-weight: 300 !important;
}
h3 {
    margin: 1em 0;
    font-size: 1em;
    font-family: heiti !important;
    font-weight: 200 !important;
}
p {
    margin: 1em 0;
    font-size: 1em;
    text-indent: 2em;
}



code {
    display: block;
    padding: .5em 1em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    font-family: monospace !important;
}


.home-link {
    display: inline-block;
    height: var(--nav-h);
}

.home-link > .home-icon {
    height: var(--nav-h);
}

.path {
    flex: 1 1 auto;
    line-height: var(--nav-h);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: var(--gy-2) var(--gx-2);
    height: var(--nav-h);
    overflow-y: auto;
    font-family: heiti;
    font-weight: 200;
    font-size: calc(var(--nav-h) * 3 / 5);
}

.path > a:hover {
    font-weight: 300;
}
.path > a:not(:first-child)::before {
    content: '»';
    margin-right: var(--gx-2);
}

.dividingline {
    flex: 0 0 auto;
    width: var(--w-1);
    background-color: black;
    border-radius: calc(var(--w-1) / 2);
    height: var(--nav-h);
}

.nav-right > .form-search {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: var(--gy-0) var(--gx-2);
    height: var(--nav-h);
}
.nav-right > .form-theme {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: right;
    gap: var(--gy-0) var(--gx-2);
    height: var(--nav-h);
}
.nav-right > .form-search > * {
    border: var(--bw-3) solid rgba(0, 0, 0, 0.5);
    font-size: calc(var(--nav-h) * 3 / 5);
    padding: var(--py-0) var(--px-2);
    height: var(--nav-h);
}
.nav-right > .form-search > .searchbox {
    border-radius: calc(var(--px-4) / 2);
    background-color: white;
    width: calc(var(--px-4) + var(--w-6));
    transition: flex 400ms ease;
    font-family: songti;
    font-weight: 200;
}
.nav-right > .form-search > .searchbox:focus {
    flex: 1 1 auto;
    border: var(--bw-3) solid rgba(0, 0, 0, 1);
}
.nav-right > .form-search > .searchbox::placeholder {
    text-decoration: underline rgb(0, 255, 0) solid .1rem;
}
.nav-right > .form-search > .searchbox:focus::placeholder {
    text-decoration: none;
}
.nav-right > .form-search > .submitbutton {
    border-radius: calc(var(--px-4) / 4);
    background-color: rgb(245, 245, 245);
    font-family: heiti;
    font-weight: 200;
}
.nav-right > .form-theme > .themelabel {
    line-height: var(--nav-h);
    font-size: calc(var(--nav-h) * 3 / 5);
    font-family: heiti;
    font-weight: 200;
}
.nav-right > .form-theme > .selectlist {
    font-size: calc(var(--nav-h) * 3 / 5);
    border: var(--bw-3) solid rgba(0, 0, 0, 0.5);
    border-radius: calc(var(--px-4) / 4);
    background-color: white;
    height: var(--nav-h);
    font-family: songti;
    font-weight: 200;
}
.nav-right > .form-theme > .selectlist:focus {
    border: var(--bw-3) solid rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
    .nav-container > .nav-right > .form-search > .searchbox{
        flex: 1 1 auto;
        max-width: 100%;
        transition: none;
    }
    .nav-container > .nav-right {
        flex-wrap: nowrap;
        justify-content: left;
    }
}
@media (max-width: 320px) {
    .nav-container > .nav-right > .form-theme {
        display: none;
    }
}
