div.div1 {
  background-color: blue;
  color: red;
}

p.p1 {
  background-color: green;
  color: red;
}

div#div1 {
  background-color: purple;
}

div#div2 {
  background-color: yellow;
}

div#div3 {
  background-color: purple;
}