.div1 {
  content: number;
}

.div2 {
  content: number;
}

.div3 {
  content: number;
}

.div4 {
  content: number;
}

.div5 {
  content: string;
}

.div6 {
  content: string;
}

.div7 {
  content: color;
}

.div8 {
  content: color;
}

.div9 {
  content: color;
}

.div10 {
  content: color;
}

.div11 {
  content: color;
}

.div12 {
  content: color;
}

.div13 {
  content: list;
}

.div14 {
  content: list;
}

.div15 {
  content: map;
}