.p1 {
  content: 18;
}

.p2 {
  content: 222;
}

.p3 {
  content: 246;
}

.p4 {
  content: 186.3157894737deg;
}

.p5 {
  content: 92.6829268293%;
}

.p6 {
  content: 51.7647058824%;
}

.p7 {
  content: 0.6196078431;
}

.span1 {
  content: rgba(18, 108, 246, 0.6196078431);
}

.span2 {
  content: rgba(55, 193, 209, 0.6196078431);
}

.span3 {
  content: rgba(9, 229, 255, 0.6196078431);
}

.span4 {
  content: rgba(4, 96, 107, 0.6196078431);
}

.span5 {
  content: rgba(165, 243, 252, 0.6196078431);
}

.span6 {
  content: rgba(18, 222, 246, 0.9196078431);
}

.span7 {
  content: rgba(18, 222, 246, 0.3196078431);
}

.span8 {
  content: rgba(34, 222, 246, 0.6196078431);
}

.other1 {
  content: rgba(9, 222, 246, 0.6196078431);
}

.other2 {
  content: rgba(16, 222, 246, 0.6196078431);
}

.other3 {
  content: rgba(132, 132, 132, 0.6196078431);
}

.other4 {
  content: rgba(246, 42, 18, 0.6196078431);
}

.other5 {
  content: rgba(18, 222, 246, 0.6196078431);
}

.other6 {
  content: rgba(246, 42, 18, 0.6196078431);
}

.other7 {
  content: rgba(237, 33, 9, 0.6196078431);
}

.other8 {
  content: rgba(18, 222, 246, 0.6196078431);
}

.other9 {
  content: rgba(149, 109, 104, 0.6196078431);
}

.other10 {
  content: rgba(6, 69, 76, 0.8098039216);
}

.other11 {
  content: #090606;
}