@charset "UTF-8";
/*
	构建于10/10/2024
*/

@import 'map.css';

:root {
    --nav-h: var(--h-4);
    --nav-px: var(--px-4);
    --nav-py: var(--py-2);
    --nav-mb: var(--mb-3);
    --nav-gy: var(--gy-0);
    --nav-gx: var(--gx-3);
    --navleft-gy: var(--gy-0);
    --navleft-gx: var(--gx-3);
    --navcenter-gy: var(--gy-0);
    --navceter-gx: var(--gx-3);
    --navright-gy: var(--gy-0);
    --navright-gx: var(--gx-3);
}

/* 清除所有边距并更改框模型 */
* {
    margin: var(--m-0);
    padding: var(--p-0);
    box-sizing: border-box;
}
/* 清除链接样式 */
a {
    text-decoration: none;
    color: inherit;
}
/* 设置默认整体背景色 */
body {
    background-color: var(--body-backgroundcolor);
}


/* 设置导航栏 */
.nav-container {
    position: sticky;
    z-index: 1000;
    top: 0;
    margin-bottom: var(--nav-mb);
    padding: var(--nav-py) var(--nav-px);
    background-color: var(--navcontainer-backgroundcolor);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--nav-gy) var(--nav-gx);
    overflow-x: auto;
}

.nav-container > *:not(:first-child) {
    display: flex;
}
.nav-home {
    flex: 0 0 auto;
    height: var(--nav-h);
}
.nav-container > .nav-left {
    flex: 0 1 auto;
    justify-content: flex-start;
    gap: var(--navleft-gy) var(--navleft-gx);
}
.nav-container > .nav-center {
    flex: 0 0 auto;
    justify-content: space-between;
    gap: var(--navcenter-gy) var(--navcenter-gx);
}
.nav-container > .nav-right {
    flex: 1 0 auto;
    justify-content: flex-end;
    gap: var(--navright-gy) var(--navright-gx);
}
.nav-container > .nav-left:empty {
    background-color: aqua;
    height: var(--h-4);
    flex: 4 1 auto;
}
.nav-container > .nav-center:empty {
    background-color: tomato;
    height: var(--h-2);
    flex: 2 1 auto;
}
.nav-container > .nav-right:empty {
    background-color: greenyellow;
    height: var(--h-3);
    flex: 3 1 auto;
}




/* 设置主体 */
.main-wrapper {
    margin: 0 var(--mainwrapper-marginhorizontal);
    background-color: var(--mainwrapper-background-color);
    display: flex;
    justify-content: space-between;
    gap: 0 var(--mainwrapper-gap);
}



.label-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    height: var(--navcontainer-height);
    width: var(--navcontainer-height);
    background-color: var(--menu-backgroundcolor);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.label-menu > span {
    height: calc(1 / 15 * var(--navcontainer-height));
    width: 70%;
    display: block;
    transition: all 400ms ease;
    background-color: var(--menubar-backgroundcolor);
}
.label-menu > span::before {
    content: '';
    position: relative;
    top: calc(-4 / 15 * var(--navcontainer-height));
    height: calc(1 / 15 * var(--navcontainer-height));
    width: 100%;
    display: block;
    background-color: inherit;
}
.label-menu > span::after {
    /* 图标内线条 */
    content: '';
    position: relative;
    top: calc(3 / 15 * var(--navcontainer-height));
    height: calc(1 / 15 * var(--navcontainer-height));
    width: 100%;
    display: block;
    background-color: inherit;
}
.checkbox-menu:checked ~ .label-menu > span {
    transform: rotate(315deg);
}
.checkbox-menu:checked ~ .label-menu > span::before {
    transform: rotate(90deg);
    top: 0;
}
.checkbox-menu:checked ~ .label-menu > span::after {
    top: calc(-1 / 15 * var(--navcontainer-height));
}
.checkbox-menu:checked:hover ~ .label-menu > span {
    transform: rotate(135deg);
}
.menu-container > .nav-right {
    position: sticky;
    transform: translate(calc(-1 * var(--menucontainer-padding)), calc(-1 * var(--menucontainer-padding)));
    top: 0;
    left: 0;
    width: calc(100% + 2 * var(--menucontainer-padding));
    display: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
    background-color: inherit;
    padding: var(--menucontainer-padding);
    order: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.menu-container > .nav-right:empty::before {
    content: '';
    display: block;
    background-color: greenyellow;
    min-height: 100px;
}
.menu-container > .aside-left {
    order: 3;
}
.menu-container > .aside-right {
    order: 2;
}
.checkbox-menu:checked ~ .singleAside-wrapper {
    left: 0;
}


/* 设置双侧目录 */
.doubleAside-wrapper {
    display: contents;
}

/* 设置左右侧边栏为空时内容 */
.aside-left:empty::before {
    content: '';
    display: block;
    background-color: aqua;
    min-height: 1000px;
}
.aside-right:empty::before {
    content: '';
    display: block;
    background-color: greenyellow;
    min-height: 500px;
}

.label-asideleft::before {
    content: '«';
}
.checkbox-asideleft:checked ~ .label-asideleft::before {
    content: '»';
}
.label-asideright::before {
    content: '»';
}
.checkbox-asideright:checked ~ .label-asideright::before {
    content: '«';
}
.label-asideleft {
    order: 2;
    width: var(--labelasideleft-width);
    background-color: var(--labelasideleft-backgroundcolor);
    border-radius: 0 calc(2 / 3 * var(--labelasideleft-width)) calc(2 / 3 * var(--labelasideleft-width)) 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.label-asideright {
    order: 1;
    width: var(--labelasideright-width);
    background-color: var(--labelasideright-backgroundcolor);
    border-radius: calc(2 / 3 * var(--labelasideright-width)) 0 0 calc(2 / 3 * var(--labelasideright-width));
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftAside-wrapper {
    order: 1;
    flex: 0 0 auto;
    position: sticky;
    top: var(--navcontainer-height);
    height: calc(100vh - var(--navcontainer-height));
    display: flex;
}
.rightAside-wrapper {
    order: 3;
    flex: 0 0 auto;
    position: sticky;
    top: var(--navcontainer-height);
    height: calc(100vh - var(--navcontainer-height));
    display: flex;
}
/* 设置内容 */
.main {
    order: 2;
    flex: 1 1 auto;
    max-width: 100%;
    padding: var(--main-padding);
}
.main:empty {
    background-color: tomato;
    min-height: 1500px;
}


.menu-wrapper {
    display: contents;
}
.singleAside-wrapper {
    order: 1;
    flex: 0 0 auto;
    position: sticky;
    top: var(--navcontainer-height);
    height: calc(100vh - var(--navcontainer-height));
    display: contents;
}
.label-aside {
    display: none;
}
.aside-left {
    order: 1;
    width: var(--asideleft-width);
    overflow-y: auto;
    background-color: var(--asideleft-backgroundcolor);
    padding: var(--asideleft-padding);
    padding-bottom: calc(var(--navcontainer-marginbottom) + var(--asideleft-padding));
    transition: width 200ms ease, visibility 100ms ease;
}
.aside-right {
    order: 2;
    width: var(--asideright-width);
    overflow-y: auto;
    background-color: var(--asideright-backgroundcolor);
    padding: var(--asideright-padding);
    padding-bottom: calc(var(--navcontainer-marginbottom) + var(--asideright-padding));
    transition: width 200ms ease, visibility 100ms ease;
}
@media (min-width: 993px) {
    .checkbox-asideleft:checked ~ .aside-left {
        width: 0;
        visibility: hidden;
    }
    .checkbox-asideright:checked ~ .aside-right {
        width: 0;
        visibility: hidden;
    }
}

/* 最大宽度不超过992px时 */
@media (max-width: 992px) {
    .leftAside-wrapper, .rightAside-wrapper {
        display: contents;
    }
    .label-asideleft, .label-asideright {
        display: none;
    }
    .singleAside-wrapper {
        display: flex;
    }
    .doubleAside-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 300px;
        transition: width 200ms ease, visibility 100ms ease;
    }
    .label-aside {
        order: 2;
        width: var(--labelaside-width);
        background-color: var(--labelaside-backgroundcolor);
        border-radius: 0 calc(2 / 3 * var(--labelaside-width)) calc(2 / 3 * var(--labelaside-width)) 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .label-aside::before {
        content: '«';
    }
    .checkbox-aside:checked ~ .label-aside::before {
        content: '»';
    }
    .checkbox-aside:checked ~ .doubleAside-wrapper {
        width: 0;
        visibility: hidden;
    }
}
/* 最大宽度不超过768px时 */
@media (max-width: 768px) {
    .nav-container > .nav-left {
        display: none;
    }
    .nav-container > .nav-center {
        display: none;
    }
    .doubleAside-wrapper {
        display: contents;
    }
    .singleAside-wrapper {
        position: fixed;
        top: 0;
        left: calc(-1 * var(--menucontainer-width));
        transition: left 400ms ease;
        flex-direction: column;
        gap: var(--menucontainer-gap) 0 ;
        width: var(--menucontainer-width);
        height: 100vh;
        overflow-x: hidden;
        padding: var(--menucontainer-padding);
        padding-top: calc(var(--navcontainer-height) + var(--menucontainer-padding));
        background-color: var(--menucontainer-backgroundcolor);
        box-shadow: 0 0 var(--menucontainer-boxshadow-gauss) var(--menucontainer-boxshadow-color);
    }
    .label-aside {
        display: none;
    }
    .aside-left, .aside-right {
        width: 100%;
    }
}