{% extends 'blog/components/base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/page.css' %}">
    <script src="{% static 'blog/js/page.js' %}"></script>
{% endblock %}
{% block nav_left %}
    {% for modelname in modelnames %}
        <a href="{% url 'articles' %}">{{ modelname }}</a>
    {% endfor %}
{% endblock %}


{% block main %}
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
{% endblock %}