:root {
  --ssydx-blue: #007bff;
  --ssydx-indigo: #6610f2;
  --ssydx-purple: #6f42c1;
  --ssydx-pink: #e83e8c;
  --ssydx-red: #dc3545;
  --ssydx-orange: #fd7e14;
  --ssydx-yellow: #ffc107;
  --ssydx-green: #28a745;
  --ssydx-teal: #20c997;
  --ssydx-cyan: #17a2b8;
  --ssydx-white: #fff;
  --ssydx-gray: #6c757d;
  --ssydx-gray-dark: #343a40;
  --ssydx-gray-100: #f8f9fa;
  --ssydx-gray-200: #e9ecef;
  --ssydx-gray-300: #dee2e6;
  --ssydx-gray-400: #ced4da;
  --ssydx-gray-500: #adb5bd;
  --ssydx-gray-600: #6c757d;
  --ssydx-gray-700: #495057;
  --ssydx-gray-800: #343a40;
  --ssydx-gray-900: #212529;
  --ssydx-primary: #007bff;
  --ssydx-secondary: #6c757d;
  --ssydx-success: #28a745;
  --ssydx-info: #17a2b8;
  --ssydx-warning: #ffc107;
  --ssydx-danger: #dc3545;
  --ssydx-light: #f8f9fa;
  --ssydx-dark: #343a40;
  --ssydx-primary-rgb: 0, 123, 255;
  --ssydx-secondary-rgb: 108, 117, 125;
  --ssydx-success-rgb: 40, 167, 69;
  --ssydx-info-rgb: 23, 162, 184;
  --ssydx-warning-rgb: 255, 193, 7;
  --ssydx-danger-rgb: 220, 53, 69;
  --ssydx-light-rgb: 248, 249, 250;
  --ssydx-dark-rgb: 52, 58, 64;
}