* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
:root,[data-theme="light"] {
    --tt-color: black;
    --bg-color: white;
}
[data-theme="dark"] {
    --tt-color: white;
    --bg-color: black;
}
a {
    text-decoration: none;
    color: var(--tt-color);
    display: flex;
    align-items: center;
    height: 100%;
}
a > * {
    flex: 1 0 auto;
}
a:hover {
    color: rgb(0, 140, 255);
    transition: color 0.3s;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    display: flex;
    align-items: center;
}

