* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
:root,[data-theme="light"] {
    --tt-color: black;
    --bg-color: white;
}
[data-theme="dark"] {
    --tt-color: white;
    --bg-color: black;
}
a {
    text-decoration: none;
    color: var(--tt-color);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

