<?xml version="1.0" encoding="UTF-8"?>
<!-- 定义 HelloWorld bean -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.ssydx.springdemo1.HelloWorld">
        <property name="message" value="Hello, World!" />
    </bean>

    <bean id="studentbean" class="com.ssydx.springdemo1.Student">
        <property name="name" value="ssydx"></property>
    </bean>

    <!-- 不含引用（basetype）类型的构造器注入 -->
    <bean id="e1" class="com.ssydx.springdemo1.Employee">
        <constructor-arg value="1" type="int"></constructor-arg>
    </bean>
    <bean id="e2" class="com.ssydx.springdemo1.Employee">
        <constructor-arg value="zs"></constructor-arg>
    </bean>
    <bean id="e3" class="com.ssydx.springdemo1.Employee">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="zs" type="String"></constructor-arg>
    </bean>

    <!-- 含引用（reftype）类型的构造器注入 -->
    <bean id="d" class="com.ssydx.springdemo1.Department">
        <constructor-arg value="engeneering" type="String"></constructor-arg>
        <constructor-arg value="ssydx"></constructor-arg>
    </bean>
    <bean id="e" class="com.ssydx.springdemo1.Employee">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="zs" type="String"></constructor-arg>
        <constructor-arg>
            <ref bean="d" />
        </constructor-arg>
    </bean>

    <!-- 含引用（List<basetype>）类型的构造器注入 -->
    <bean id="q1" class="com.ssydx.springdemo1.Question">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="fruit"></constructor-arg>
        <constructor-arg>
            <!-- set也使用该方法 -->
            <list>
                <value>apple</value>
                <value>orange</value>
                <value>watermelon</value>
            </list>
        </constructor-arg>
    </bean>

    <!-- 含引用（List<reftype>）类型的构造器注入 -->
    <bean id="a1" class="com.ssydx.springdemo1.AnswerLs">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="apple"></constructor-arg>
        <constructor-arg value="苹果"></constructor-arg>
    </bean>
    <bean id="a2" class="com.ssydx.springdemo1.AnswerLs">
        <constructor-arg value="2" type="int"></constructor-arg>
        <constructor-arg value="banana"></constructor-arg>
        <constructor-arg value="香蕉"></constructor-arg>
    </bean>
    <bean id="a3" class="com.ssydx.springdemo1.AnswerLs">
        <constructor-arg value="3" type="int"></constructor-arg>
        <constructor-arg value="orange"></constructor-arg>
        <constructor-arg value="橙子"></constructor-arg>
    </bean>
    <bean id="q2" class="com.ssydx.springdemo1.Question">
        <constructor-arg value="2" type="int"></constructor-arg>
        <constructor-arg value="fruit"></constructor-arg>
        <constructor-arg>
            <!-- 可以是list map set -->
            <list>
                <ref bean="a1" />
                <ref bean="a2" />
                <ref bean="a3" />
            </list>
        </constructor-arg>
        <constructor-arg value="1"></constructor-arg>
    </bean>

    <!-- 含引用（map<basetype>）类型的构造器注入 -->
    <bean id="q3" class="com.ssydx.springdemo1.Question">
        <constructor-arg value="3"></constructor-arg>
        <constructor-arg value="fruit"></constructor-arg>
        <constructor-arg>
            <map>
                <entry key="1" value="banana"></entry>
                <entry key="2" value="apple"></entry>
                <entry key="3" value="pineapple"></entry>
            </map>
        </constructor-arg>
    </bean>

    <!-- 含引用（map<reftype>）类型的构造器注入 -->
    <bean id="ak1" class="com.ssydx.springdemo1.AnswerMapKey">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="apple"></constructor-arg>
    </bean>
    <bean id="ak2" class="com.ssydx.springdemo1.AnswerMapKey">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="orange"></constructor-arg>
    </bean>
    <bean id="av1" class="com.ssydx.springdemo1.AnswerMapValue">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="苹果"></constructor-arg>
        <constructor-arg value="张三"></constructor-arg>
    </bean>
    <bean id="av2" class="com.ssydx.springdemo1.AnswerMapValue">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="橙子"></constructor-arg>
        <constructor-arg value="李四"></constructor-arg>
    </bean>
    <bean id="q4" class="com.ssydx.springdemo1.Question">
        <constructor-arg value="4"></constructor-arg>
        <constructor-arg value="fruit"></constructor-arg>
        <constructor-arg>
            <map>
                <entry key-ref="ak1" value-ref="av1"></entry>
                <entry key-ref="ak2" value-ref="av2"></entry>
            </map>
        </constructor-arg>
        <constructor-arg value="1"></constructor-arg>
    </bean>

    <!-- 不含引用（basetype）类型的setter注入 -->
    <bean id="se1" class="com.ssydx.springdemo1.Employee">
        <property name="id" value="1"></property>
        <property name="name">
            <value>zs</value>
        </property>
    </bean>
    <bean id="se2" class="com.ssydx.springdemo1.Employee">
        <property name="id" value="1"></property>
    </bean>
    <bean id="se3" class="com.ssydx.springdemo1.Employee">
        <property name="name">
            <value>zs</value>
        </property>
    </bean>

    <!-- 含引用（reftype）类型的setter注入 -->
    <bean id="sd" class="com.ssydx.springdemo1.Department">
        <constructor-arg value="engeneering" type="String"></constructor-arg>
        <constructor-arg value="ssydx"></constructor-arg>
    </bean>
    <bean id="se" class="com.ssydx.springdemo1.Employee">
        <property name="id" value="1"></property>
        <property name="name" value="zs"></property>
        <property name="dpt" ref="sd"></property>
    </bean>

    <!-- 其他setter注入同理 -->

    <!-- byName 要求bean的id等于另一bean的属性名称（setter注入） -->
    <!-- byType 只要求类相同，但只能存在一个实例（setter注入） -->
    <!-- constructor 要求与byType相同，但采用构造器注入 -->
    <!-- no 不自动装配 -->
    <bean id="clsb" class="com.ssydx.springdemo1.B"></bean>
    <bean id="clsa" class="com.ssydx.springdemo1.A" autowire="no"></bean>

    <!-- 无参工厂方法 -->
    <bean id="clsa1" class="com.ssydx.springdemo1.A"></bean>
    <bean id="clsa2" class="com.ssydx.springdemo1.A" factory-method="getA"></bean>
    <bean id="clsb1" class="com.ssydx.springdemo1.B"></bean>
    <bean id="clsb2" class="com.ssydx.springdemo1.A" factory-method="getB">
    </bean>
    <bean id="clsa3" class="com.ssydx.springdemo1.A"></bean>
    <bean id="clsb3" class="com.ssydx.springdemo1.A" factory-method="getBinst" factory-bean="clsa3"></bean>
    <!-- 有参工厂方法 -->
    <bean id="clsb4" class="com.ssydx.springdemo1.B"></bean>
    <bean id="clsa4" class="com.ssydx.springdemo1.A" factory-method="getAwithPara">
        <constructor-arg>
            <ref bean="clsb4"/>
        </constructor-arg>
    </bean>
    <bean id="clsa5" class="com.ssydx.springdemo1.A" factory-method="getBwithPara">
        <constructor-arg name="n" value="1"></constructor-arg>
    </bean>
    <bean id="clsa6" class="com.ssydx.springdemo1.A"></bean>
    <bean id="clsb6" class="com.ssydx.springdemo1.A" factory-method="getBinstwithPara" factory-bean="clsa6">
        <constructor-arg name="n" value="1"></constructor-arg>
    </bean>

</beans>